@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: #fff;
  color:black
}



.container{
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}
